.slider {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}

.imageWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--card);
  border: 1px solid var(--border);
  border-radius: var(--radius-rounded);
  user-select: none;
}

.image {
  width: 100%;
  border-radius: var(--radius-rounded);
}

.dots {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-sm);
}

.dot {
  width: 20px;
  height: 20px;
  background-color: var(--card);
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid var(--border);
}

.dot:not([data-active="true"]):hover {
  transform: scale(1.1);
}

.dot[data-active="true"] {
  background-color: var(--primary);
}

.actionButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 50px;
  background-color: var(--card);
  color: var(--card-foreground);
  border: 1px solid var(--border);
  cursor: pointer;
}

.prevAction {
  left: 0;
  border-left: none;
}

.nextAction {
  right: 0;
  border-right: none;
}

@media screen and (min-width: 768px) {
  .actionButton {
    width: 40px;
    height: 60px;
  }
}
